@use 'fonts';

$primary-color: #24658b;
$secondary-color: #8fcddb;
$accent-color: #ffcd74;
$body-text-color: #333;
$heading-font-family: 'TitilliumWeb', helvetica, arial;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

