@use 'fonts';

$primary-color: #fff;
$secondary-color: #000000;
$accent-color: hsl(242, 100%, 18%);
$body-text-color: #333;
$heading-font-family: 'Titillium Web', helvetica, arial;
$body-font-family: 'Titillium Web', helvetica, arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

