@use "../abstracts/variables" as v;

.link {
    font-family: v.$heading-font-family;
    font-size: v.$font-lg;
    font-weight: 600;
    color: v.$whiteText;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 1rem;

    span, i {
        position: relative;
    } 

    i {
        margin-left: .5em;
    }

    .ball {
        width: 2em;
        height: 2em;
        border-radius: .5em;
        background-color: v.$accent-color;
        position: absolute;
        top: 50%;
        left: -.5em;
        transform: translateY(-50%);
    }
}