

.imageCon {
    width: 45%;
    position: relative;
    perspective: 1000px;
}

.imageCon img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}