@use "../abstracts/variables" as v;


#profile {
    height: 90vh;
}

#headline {
    font-size: v.$font-xlg;
    margin: 1rem 0 1rem 0;
    padding: 0 0 0 0;
    color: v.$accent-color;
}

.my_name {
    width: 100%;
}

#my-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}


#soc-med {
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    gap: 1rem;
}



.soc-med-icon {
    cursor: pointer;
    height: 3rem;

}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 1rem;
    padding: 1rem;
}

#loui-portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1rem .5rem 1rem .5rem;
    padding: 0 0 0 0;
}
