@use "../abstracts/variables" as v;


.portfolio {
    padding: 1rem;
    margin: auto;
    max-width: 1200px;
  }
  
  .portfolio article {
    margin: 2rem auto;
    width: 80%;
    max-width: 1000px;
  }
  
  .portfolio h1 {
    color: v.$accent-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .portfolio article p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .projects-temp {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }
  
  .projects-temp li {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(100px, 1fr) auto;
    padding: 1rem;
    background-color: v.$whiteText;
    border-radius: 3px;
    border: solid 1px #dedede;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .projects-temp h3, .projects-temp img {
    grid-row: 1 / 2;
    grid-column: 1;
  }
  
  .projects-temp h3 {
    background-color: v.$darkGray;
    color: v.$whiteText;
    padding: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px v.$darkGray;
    align-self: end;
  }
     
   button.btn-projects {
    width: 100%;
    height: auto;
    margin: .5rem 0 .5rem 0;
   }
   
   button.btn-projects .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: v.$grayish;
    border-radius: 1.625rem;
   }
   
   button.btn-projects .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: v.$whiteText;
   }
   
   button.btn-projects .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.btn-projects .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid v.$whiteText;
    border-right: 0.125rem solid v.$whiteText;
    transform: rotate(45deg);
   }
   
   button.btn-projects .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: v.$grayish;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: v.$whiteText;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: v.$whiteText;
   }