@use "../abstracts/variables" as v;


#profile {
    height: 95vh;
    padding: 5vh 0 5vh 0;
}

#headline {
    margin: 30px 0 20px 0;
    padding: 0 0 0 0;
    color: v.$accent-color;
}
.my_name {
    width: 100%;
}

#my-desc {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
}


#soc-med {
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    gap: 1rem;
}



.soc-med-icon {
    cursor: pointer;
    height: 3rem;

}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
}

#loui-portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1rem .5rem 1rem .5rem;
    padding: 0 0 0 0;
}

// button {
//     position: relative;
//     display: inline-block;
//     cursor: pointer;
//     outline: none;
//     border: 0;
//     vertical-align: middle;
//     text-decoration: none;
//     background: transparent;
//     padding: 0;
//     font-size: inherit;
//     font-family: inherit;
//    }
   
//    button.btn {
//     width: 12rem;
//     height: auto;
//     margin: .5rem 0 .5rem 0;
//    }
   
//    button.btn .circle {
//     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
//     position: relative;
//     display: block;
//     margin: 0;
//     width: 3rem;
//     height: 3rem;
//     background: v.$grayish;
//     border-radius: 1.625rem;
//    }
   
//    button.btn .circle .icon {
//     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     margin: auto;
//     background: v.$whiteText;
//    }
   
//    button.btn .circle .icon.arrow {
//     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
//     left: 0.625rem;
//     width: 1.125rem;
//     height: 0.125rem;
//     background: none;
//    }
   
//    button.btn .circle .icon.arrow::before {
//     position: absolute;
//     content: "";
//     top: -0.29rem;
//     right: 0.0625rem;
//     width: 0.625rem;
//     height: 0.625rem;
//     border-top: 0.125rem solid v.$whiteText;
//     border-right: 0.125rem solid v.$whiteText;
//     transform: rotate(45deg);
//    }
   
//    button.btn .button-text {
//     transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     padding: 0.75rem 0;
//     margin: 0 0 0 1.85rem;
//     color: v.$grayish;
//     font-weight: 700;
//     line-height: 1.6;
//     text-align: center;
//     text-transform: uppercase;
//    }
   
//    button:hover .circle {
//     width: 100%;
//    }
   
//    button:hover .circle .icon.arrow {
//     background: v.$whiteText;
//     transform: translate(1rem, 0);
//    }
   
//    button:hover .button-text {
//     color: v.$whiteText;
//    }