
#projectsDetails {
    margin: 2rem 0 2rem 0;
}

#detailsIcon {
    display: flex;
    justify-content: left;
    align-items: left;


    #detailsIcon, img {
        width: 2rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

}

#ceci-logo {
    display: relative;
    align-items: center;
    justify-content: center;

    #ceci-logo, img {
        width: 80%;
    }
}

.img-con-proj {

    margin: 2rem 0 2rem 0;

}